/* Your CSS styles for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 22px;
    font-weight: bold;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;

    background-color: #f9f9f9;
    /* Fallback color */
    background-image: linear-gradient(to bottom right, #f9f9f9, #fbf3018b);

}

.dropdown-content a {
    color: rgb(6, 6, 67);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #1f211f8e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 255, 0);
    color: rgb(134, 6, 6);
}