.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(45, 45, 189);
}

.section-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
}

.staff-details {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.staff-details img {
    max-width: 50%;
    height: auto;
    padding: 20px;
}

.related-links {
    margin-top: 20px;
}

.related-links .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.related-links ul {
    list-style-type: none;
    padding: 0;
}

.related-links ul li {
    margin-bottom: 5px;
}

.related-links ul li a {
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    /* Background color */
    transition: background-color 0.3s ease;
    /* Smooth hover effect */
}

.related-links ul li a:hover {
    background-color: #ccc;
    /* Hover background color */
}

@media screen and (max-width: 768px) {
    .staff-details {
        width: 100%;
        /* Adjusted width for mobile view */
    }

    .staff-details img {
        max-width: 50%;

        /* Adjusted image width for mobile view */
    }

    .related-links ul li a {
        padding: 8px 12px;
        /* Adjusted padding for mobile view */
    }

    .section-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        margin: 20px;

    }

    div {
        margin: 10px;
    }

    .section-description {
        font-size: 13px;
        margin: 20px;
        text-align: justify;
    }
}